<?xml version="1.0" encoding="utf-8"?>
<Window>
  <Include source="xml/config/font-config.xml"/>
  <Include source="xml/scrollbar/scrollbar.xml"/>
  <Default name="Label" value="textcolor=&quot;#FFFFFFFF&quot;" />
  <Default name="Button" value="textcolor=&quot;#FFFFFFFF&quot;"/>
  <Default name="Slider" value="bordersize=&quot;0&quot; height=&quot;15&quot; bkimage=&quot;file='res/progress/progress-line.png' source='0,0,9,15' corner='4,0,4,0' mask='#FFFF00FF'&quot; foreimage=&quot;file='res/progress/progress-line.png' source='4,15,6,30'  mask='#FFFF00FF'&quot; thumbsize=&quot;11,15&quot; thumbimage=&quot;file='res/progress/progress-btn.png'  source='0,0,11,15' corner='4,0,4,0'&quot; thumbhotimage=&quot;file='res/progress/progress-btn.png'  source='0,15,11,30' corner='4,0,4,0'&quot; thumbpushedimage=&quot;file='res/progress/progress-btn.png' source='0,30,11,45' corner='4,0,4,0'&quot;"/>
  <Default name="Progress" value="bordersize=&quot;0&quot; height=&quot;15&quot; bkimage=&quot;file='res/progress/progress-line.png' source='0,0,9,15' corner='4,0,4,0' mask='#FFFF00FF'&quot; foreimage=&quot;file='res/progress/progress-line.png' source='0,30,9,45' corner='4,0,4,0' mask='#FFFF00FF'&quot;"/>
  <Default name="Option" value="setcursor=&quot;true&quot; font=&quot;1&quot; textcolor=&quot;#FFFFFFFF&quot; selectedtextcolor=&quot;#FF000000&quot; pushedtextcolor=&quot;#FF000000&quot; normalimage=&quot;file='res/button/tabbg.png' source='0,0,100,36' corner='4,4,4,4'&quot; hotimage=&quot;file='res/button/tabbg.png' source='0,36,100,72' corner='4,4,4,4'&quot; pushedimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; selectedimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; selectedhotimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; height=&quot;36&quot; "/>
  <Default name="FadeOption" value="setcursor=&quot;true&quot; font=&quot;1&quot; textcolor=&quot;#FFFFFFFF&quot; selectedtextcolor=&quot;#FF000000&quot; pushedtextcolor=&quot;#FF000000&quot; normalimage=&quot;file='res/button/tabbg.png' source='0,0,100,36' corner='4,4,4,4'&quot; hotimage=&quot;file='res/button/tabbg.png' source='0,36,100,72' corner='4,4,4,4'&quot; pushedimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; selectedimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; selectedhotimage=&quot;file='res/button/tabbg.png' source='0,72,100,108' corner='4,4,4,4'&quot; height=&quot;36&quot; "/>
  
</Window>